rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Global default-deny rule
    match /{document=**} {
      allow read, write: if false;
    }

    // Global secure helpers
    function isSignedIn() {
      return request.auth != null;
    }

    // MATCH: Users Profile
    match /users/{userId} {
      allow read, write: if isSignedIn();
    }

    // MATCH: Timesheets
    match /timesheets/{timesheetId} {
      allow read, write: if isSignedIn();
    }
  }
}
